<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>registercontroller</servlet-name>
        <servlet-class>controller.registercontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usercontroler</servlet-name>
        <servlet-class>controller.usercontroler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>controller.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminUserControler</servlet-name>
        <servlet-class>admincontroler.adminUserControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminCategoryControler</servlet-name>
        <servlet-class>admincontroler.adminCategoryControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminProductControler</servlet-name>
        <servlet-class>admincontroler.adminProductControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeControler</servlet-name>
        <servlet-class>DAO.homeControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>DAO.CartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registercontroller</servlet-name>
        <url-pattern>/registercontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usercontroler</servlet-name>
        <url-pattern>/usercontroler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminUserControler</servlet-name>
        <url-pattern>/adminUserControler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminCategoryControler</servlet-name>
        <url-pattern>/adminCategoryControler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminProductControler</servlet-name>
        <url-pattern>/adminProductControler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeControler</servlet-name>
        <url-pattern>/homeControler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/CartController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
